.baseInfo {
  display: flex;
  padding: 0px 24px;

  &-detail {
    flex: 1;
    color: #efd3d3;
    flex-direction: column;
    justify-content: center;
  }

  &-name {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
    line-height: 26px;
  }

  &-subTitle,
  &-other {
    font-size: 14px;
    color: rgba(#fff, .6)
  }

  &-subTitle {
    margin-bottom: 14px; 
  }

  &-other {
    margin-top: 8px;
  }

  &-poster {
    width: 104px;
    height: 150px;
    background-size: 100% 100%;
  }
}
