.baseInfo {
  display: flex;
  padding: 0px 24px; }
  .baseInfo-detail {
    flex: 1;
    color: #efd3d3;
    flex-direction: column;
    justify-content: center; }
  .baseInfo-name {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
    line-height: 26px; }
  .baseInfo-subTitle, .baseInfo-other {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6); }
  .baseInfo-subTitle {
    margin-bottom: 14px; }
  .baseInfo-other {
    margin-top: 8px; }
  .baseInfo-poster {
    width: 104px;
    height: 150px;
    background-size: 100% 100%; }
