.detail {

  &-top {
    background: rgb(44, 41, 47);
  }

  &-operation {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
  }

  .icon-back {
    width: 40px;
    background: transparent url('../../common/icons/back.svg') 100% 50% / 20px 20px no-repeat;
  }
  .icon-share {
    width: 40px;
    background: transparent url('../../common/icons/share.svg') 0 50% / 20px 20px no-repeat;
  }

  &-content {
    padding: 0 20px 55px;
  }

  .content-module {
    padding: 14px 0px;

    &:nth-child(n + 2) {
      border-top: 1px solid #e5e4e4
    }
  }

  &-view {
    font-size: 14px;
    color: #333;
    line-height: 28px;
  }

  .buyBtn {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(45deg,#ff7ba0,#ff4d64);
  }
}
