.detail-top {
  background: #2c292f; }

.detail-operation {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px; }

.detail .icon-back {
  width: 40px;
  background: transparent url("../../common/icons/back.svg") 100% 50%/20px 20px no-repeat; }

.detail .icon-share {
  width: 40px;
  background: transparent url("../../common/icons/share.svg") 0 50%/20px 20px no-repeat; }

.detail-content {
  padding: 0 20px; }

.detail .content-module {
  padding: 14px 0px; }
  .detail .content-module:nth-child(n + 2) {
    border-top: 1px solid #e5e4e4; }

.detail-view {
  font-size: 14px;
  color: #333;
  line-height: 28px; }
