.home-slide {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 40%; }

.home-slideWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.home-movie {
  margin: 0;
  padding: 0 20px 48px; }
  .home-movie a {
    text-decoration: none; }
  .home-movie li {
    list-style: none; }
    .home-movie li:nth-child(n + 2) {
      border-top: 1px solid #E4E2E2; }
