.movieItem {
  display: flex;
  padding: 16px 0; }
  .movieItem-poster {
    width: 66px;
    height: 96px; }
    .movieItem-poster img {
      width: 100%;
      height: 100%; }
  .movieItem-detail {
    flex: 1;
    margin: 0 10px;
    overflow: hidden; }
  .movieItem-buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .movieItem-buy-price {
      margin-top: 4px;
      font-size: 12px;
      color: #777; }
  .movieItem-name {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; }
  .movieItem-score {
    margin-top: 4px;
    color: #000;
    font-size: 12px;
    color: #323332; }
    .movieItem-score span {
      margin-left: 4px;
      font-size: 14px;
      color: #ffa54b; }
  .movieItem-director, .movieItem-actor {
    margin-top: 4px;
    font-size: 12px;
    color: #777; }
  .movieItem-director {
    margin-top: 8px; }
  .movieItem-actor {
    margin-top: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .movieItem-tag {
    margin-top: 8px; }
