.tagList {

  &-item {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin: 0 6px 10px 0;
    padding: 0px 14px;
    font-size: 14px;
    color: #333;
    border: 1px solid #bebebe;
    border-radius: 14px;
  }

  .item-active {
    border-color: #ff4d64;
    color: #ff4d64;
  }
}
