.star {
  display: inline-block;
  background: #fff url("../../common/icons/star-o.svg") 0 50%/contain repeat-x; }
  .star-top {
    height: 100%;
    background: #fff url("../../common/icons/star.svg") 0 50%/contain repeat-x; }
