.comment-area {
  padding: 0; }

.commentList {
  list-style: none; }
  .commentList:nth-child(n+2) {
    margin-top: 20px; }
  .commentList-user {
    display: flex; }
    .commentList-user .commentUser-avatar {
      width: 50px;
      height: 50px;
      background-size: cover;
      border-radius: 50%; }
    .commentList-user .commentUser-detail {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column; }
    .commentList-user .commentUser-score {
      display: flex;
      align-items: center; }
    .commentList-user .commentUser-name {
      font-size: 16px;
      font-weight: bold;
      color: #000;
      margin-bottom: 6px; }
    .commentList-user .commentUser-value {
      margin-left: 6px;
      color: #f2a95d; }
  .commentList-text {
    position: relative;
    margin-top: 10px;
    font-size: 15px;
    line-height: 24px;
    text-align: justify; }
    .commentList-text.overflow {
      max-height: 120px;
      overflow: hidden; }
    .commentList-text.overflow::after {
      content: "\2026";
      position: absolute;
      display: inline-block;
      bottom: 0;
      right: 0;
      background: #fff;
      width: 15px; }
  .commentList .comment-detail {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #777; }
  .commentList .comment-zan i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #fff url("../../../../common/icons/zan-o.svg") 50%/cover no-repeat; }
  .commentList .comment-zan.zan-active i {
    background: #fff url("../../../../common/icons/zan-solid.svg") 50%/cover no-repeat; }
