.user {
  
  &-top {
    padding: 10px 20px 30px;
    background-color: #313440;
    color: #fff;
  }

  .operation {
    display: flex;
    justify-content: space-between;

    &-setting,
    &-message {
      width: 40px;
      height: 40px;
    }

    &-setting {
      background: transparent url('../../common/icons/setting.svg') 0 50% / 20px 20px no-repeat;
    }

    &-message {
      background: transparent url('../../common/icons/message.svg') 100% 50% / 20px 20px no-repeat;
    }
  }

  &-info {
    display: flex;
    margin-top: 20px;
  }

  &-avatar {
    width: 70px;
    height: 70px;
    background: #ccc url('/source/avatar.jpeg') 0 50% / 70px 70px no-repeat;
    margin-right: 20px;
    border-radius: 50%;
  }

  &-detail {
    flex: 1;
  }

  &-name {
    font-size: 20px;
    line-height: 26px;
  }

  &-follow,
  &-fans {
    margin-top: 10px;
    font-size: 12px;
  }

  &-level {
    padding: 0px 8px;
    margin-top: 8px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    border-radius: 8px;
    background: #5a5e78;
  }

  &-content {
    padding: 10px 20px;
  }
}
