.collapseText {
  position: relative;

  &-collapse {
    // max-height: 84px;
    overflow: hidden;
  }

  &-label {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #6a9ada;
    padding-left: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff, #fff, #fff);
  }
}
